body {
  background-color: #202123;
  color: #4387cc;
}

h2 {
  font-size: 3em
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 2em;
}

#flight-list {
  margin-top: 20px; /* Adjust the value as needed */
}

#filter-bar {
  margin-bottom: 10px;
}

#trip-info {
  margin: 3px 0px;
  flex-direction: column;
  display: flex;  
}

#trip-list {
  margin-top: 5px;
}

#trip {
  display: flex;
}

#link-btn {
  margin: 2px;
}

